@model Company_Registration.Models.CompanyApplicantViewModel

@{
    ViewBag.Title = "Company Applicant Register";
}

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
@Styles.Render("~/Content/Register.css")

<div class="page-center">
    <div class="wrapper">
        <h1>Company Applicant Register</h1>

        @using (Html.BeginForm("Register", "CompanyApplicant", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger small", style = "display:block;" })

            <div class="input-box">
                @Html.TextBoxFor(m => m.FullName, new { placeholder = "Full Name" })
                @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger small", style = "display:block;" })
            </div>

            <div class="input-box">
                @Html.TextBoxFor(m => m.IdentityNumber, new { placeholder = "NRC / Identity Number" })
                @Html.ValidationMessageFor(m => m.IdentityNumber, "", new { @class = "text-danger small", style = "display:block;" })
            </div>

            <div class="input-box">
                @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "Email", type = "email" })
                @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger small", style = "display:block;" })
            </div>

            <div class="input-box">
                @Html.PasswordFor(m => m.PasswordHash, new { placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.PasswordHash, "", new { @class = "text-danger small" ,style = "display:block;" })
            </div>

            <div class="input-box">
                @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = "Phone Number" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger small", style = "display:block;" })
            </div>

            <div class="input-box">
                @Html.TextBoxFor(m => m.Nationality, new { placeholder = "Nationality" })
                @Html.ValidationMessageFor(m => m.Nationality, "", new { @class = "text-danger small", style = "display:block;" })
            </div>

            <button type="submit" class="btn">Register</button>

            <div class="login-link">
                Already have an account?
                @Html.ActionLink("Login Here", "Login", "CompanyApplicant")
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
